form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form .sign-in-user {
  color: black;
  transition: color 0.3s ease;
}

form .sign-in-user:hover {
  color: blue;
}

form a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
form a:hover {
  color: blue;
}
