form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-link {
  text-decoration: none;
  filter: grayscale(100%);
  display: inline-block;
  transition: filter 0.3s ease;
  padding-left: 2px;
}
.signup-link:hover {
  filter: grayscale(0);
}
