header {
  width: 100%;
}
nav .alura {
  padding-left: 16px;
}
nav .icon-user {
  padding-right: 16px;
}

nav .icon-user a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
nav .icon-user .logout-header {
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: lowercase;
}
nav .icon-user .logout-header:hover {
  color: red;
}
nav .hamburger {
  cursor: pointer;
  transition: color 0.3 ease;
}

nav .hamburger:hover {
  color: rgb(69, 69, 255);
}

nav .menu-left li {
  list-style: none;
}
.navbar-text {
  transition: all 0.3s ease;
}

.navbar-text:hover {
  color: rgb(69, 69, 255);
}

.p-login {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  padding-right: 20px;
}
.p-login:hover {
  color: rgb(69, 69, 255);
}

nav .menu-left li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav .menu-left li a:hover {
  color: rgb(69, 69, 255);
}
