<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand alura">
      <i
        tabindex="0"
        (keyup.space)="menu.toggle()"
        class="hamburger fa fa-bars mr-2"
        (click)="menu.toggle()"
      ></i>
      ALURAPIC
    </a>
    <app-menu #menu>
      <ul class="menu-left">
        <li>
          <a showIfLogged [routerLink]="['p', 'add']">Upload</a>
        </li>
      </ul>
    </app-menu>
    <div class="icon-user" *ngIf="user$ | async as user; else login">
      <i class="fa fa-user-circle mr-1"></i>
      <a class="mr-1"> {{ user.name }} </a>
      <!-- <a class="logout-header" (click)="logout()">(Logout)</a> -->
      <i
        (click)="logout()"
        class="fa fa-sign-out logout-header"
        title="Logout"
        aria-hidden="true"
      ></i>
    </div>
    <ng-template #login>
      <div class="navbar-text">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        <a [routerLink]="['']" class="p-login"> Please, login! </a>
      </div>
    </ng-template>
  </nav>
  <div class="fixed-top">
    <app-loading></app-loading>
    <app-alert></app-alert>
  </div>
</header>
