header {
  width: 100%;
}
nav .alura {
  padding-left: 16px;
}
nav .icon-user {
  padding-right: 16px;
}

nav .icon-user a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
nav .icon-user .logout-header {
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: lowercase;
}
nav .icon-user .logout-header:hover {
  color: red;
}
.p-login {
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease;
  padding-right: 20px;
}
.p-login:hover {
  color: black;
}
